body {
  background-color: hsl(257, 40%, 49%);
  color: white;
  text-align: center;
}

.top-page {
  background-image: url("./images/bg-mobile.svg");
}

header {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 30%;
}

.illustration {
  width: 80%;
  max-width: 100%;
  object-fit: contain;
}

main h1 {
  font-family: 'Poppins', 'sans-serif';
}

main p {
  font-family: 'Open sans', 'sans-serif';
}

main button {
  background-color: white;
  font-family: 'Poppins', 'sans-serif';
  border: 0;
  padding: 1rem 5rem;
  color: hsl(257, 40%, 49%);
  border-radius: 30px;
}
